version: '3.4'

services:
  oai-hss:
    build:
      context: ./images/oai-hss/
    image: oai-hss
    depends_on:
      - oai-cassandra
    env_file:
      - ./envs/hss.env
    volumes:
      - .config/hss/certs:/opt/oai-hss/certs
    ports:
      - "3868:3868"
      - "5868:5868"
      - "9080:9080"
      - "9081:9081"
    hostname: oai-hss
    domainname: local.net
    networks:
      net1:
        ipv4_address: 192.168.1.102

  oai-mme:
    build:
      context: ./images/oai-mme/
    image: oai-mme
    depends_on:
      - oai-hss
      - oai-spgwc
    env_file:
      - ./envs/mme.env 
    volumes:
      - .config/mme/certs:/opt/oai-mme/certs
    ports:
      - "3870:3870"
      - "5870:5870"
      - "2123:2123"
    hostname: oai-mme
    domainname: local.net
    networks:
      - default
      net1:
        ipv4_address: 192.168.1.100
      net2:
        ipv4_address: 172.16.1.100
      
  oai-spgwc:
    build:
      context: ./images/oai-spgwc/
    image: oai-spgwc
    env_file:
      - ./envs/spgwc.env 
    ports:
      - "8805:8805"
      - "2123:2123"
    cap_add:
      - NET_ADMIN
    hostname: oai-spgwc
    domainname: local.net
    networks:
      net3:
        ipv4_address: 192.168.2.100
      net2:
        ipv4_address: 172.16.1.101
      
  oai-spgwu:
    build:
      context: ./images/oai-spgwu/
    image: oai-spgwu
    env_file:
      - ./envs/spgwu.env
    ports:
      - "8805:8805"
      - "2152:2152"
    cap_add:
      - NET_ADMIN
    hostname: oai-spgwu
    domainname: local.net
    networks:
      net3:
        ipv4_address: 192.168.2.101 
      net4:
        ipv4_address: 172.16.2.100
      net5:
        ipv4_address: 192.168.3.100
  oai-enb:
    build:
      context: ./images/oai-enb/
    image: oai-enb
    depends_on:
      - oai-mme
      - oai-spgwc
      - oai-spgwu
    env_file:
      - ./envs/enb.env
    devices:
      - "/dev/net/tun:/dev/net/tun"
    ports:
      - "22100:22100"
      - "2152:2152"
      - "36412:36412"
      - "36422:36422"
      - "50000:50000"
      - "50001:50001"
    cap_add:
      - NET_ADMIN
    privileged: true
    hostname: oai-enb
    domainname: local.net
    networks:
      net1:
        ipv4_address: 192.168.1.101 
      net4:
        ipv4_address: 172.16.2.101
      net6:
        ipv4_address: 192.168.18.206
  oai-ue:
    build:
      context: ./images/oai-ue/
    image: oai-ue
    depends_on:
      - oai-enb
    env_file:
      - ./envs/ue.env
    devices:
      - "/dev/net/tun:/dev/net/tun"
    ports:
      - "50000:50000"
      - "50001:50001"
    cap_add:
      - NET_ADMIN
    privileged: true
    hostname: oai-ue
    domainname: local.net
    networks:
      net6:
        ipv4_address: 192.168.18.199
    
  oai-cassandra:
    image: cassandra
    volumes:
      - cassandra-data:/var/lib/cassandra:rw
    environment:
      - CASSANDRA_DC = "DC1"
      - CASSANDRA_RACK = "RACK1"
      - CASSANDRA_CLUSTER_NAME = "OAI_HSS"
      - CASSANDRA_ENDPOINT_SNITCH = "GossipingPropertyFileSnitch"
    hostname: oai-cassandra
    domainname: oai-cassandra.local.net
    ports:
      - "7000:7000"
      - "7001:7001"
      - "9042:9042"

volumes:
  cassandra-data:

networks:
  net1:
    driver: macvlan
    driver_opts:
      macvlan_mode: bridge
    ipam:
     config:
       - subnet: 192.168.1.0/24
  net2:
    driver: macvlan
    driver_opts:
      macvlan_mode: bridge
    ipam:
     config:
       - subnet: 172.16.1.0/24
  net3:
    driver: macvlan
    driver_opts:
      macvlan_mode: bridge
    ipam:
     config:
       - subnet: 192.168.2.0/24
  net4:
    driver: macvlan
    driver_opts:
      macvlan_mode: bridge
    ipam:
     config:
       - subnet: 172.16.2.0/24
  net5:
    driver: macvlan
    driver_opts:
      macvlan_mode: bridge
    ipam:
     config:
       - subnet: 192.168.3.0/24
  net6:
    driver: macvlan
    driver_opts:
      macvlan_mode: bridge
    ipam:
     config:
       - subnet: 192.168.18.0/24
